<div id="Subscribe-Modal" style="display: none;width:320px;">
<h3>Subscribe</h3>
<p>Get the latest updates!</p>
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup form {
  padding: 0 0 20px;
}
#mc_embed_signup .mc-field-group.input-group input {
  margin-right: 10px;
}
#mc_embed_signup .mc-field-group > label {
  font-weight: 700;
}
#mc_embed_signup .mc-field-group {
  width: 100%;
  min-height: initial;
  padding-bottom: 0;
  margin-top: 20px;
}
#mc_embed_signup .button {font-family: Lato;padding: 10px 20px; height: initial;line-height:1.6em;font-size:16px;background-color:#f16622;margin: 0;}
#mc_embed_signup .button:hover {background-color:#000000;}
#mc_embed_signup .clear {margin-top: 20px;}
</style>
<div id="mc_embed_signup">
<form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address </label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email address">
</div>
<div class="mc-field-group input-group">
    <strong>Choose subscription type</strong>
    <ul><li><input type="radio" value="Development" name="TYPE" id="mce-TYPE-0"><label for="mce-TYPE-0">Development</label></li>
<li><input type="radio" value="Business" name="TYPE" id="mce-TYPE-1"><label for="mce-TYPE-1">Business</label></li>
<li><input type="radio" value="All" name="TYPE" id="mce-TYPE-2"><label for="mce-TYPE-2">All</label></li>
</ul>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5ae66628981b642d349fe69bb_9b8c903ae0" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='TYPE';ftypes[1]='radio';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
</div>