<li class="_menu-item_ _menu-item-has-child_ _menu-item-language_">
    <a href="#" onClick="return false;" class="_menu-item-language-link_ _menu-item-language-link-cn_">
        CN
    </a>
</li>

<li class="_menu-item_ _menu-item-has-child_ _menu-item-language_">
    <a href="#" onClick="return false;" class="_menu-item-language-link_ _menu-item-language-link-en_">
        EN
    </a>
</li>
